<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.example.schedulesms</string>
    <key>Program</key>
    <string>/Users/rhammock/scripts/schedule_sms/schedule_sms.sh</string>
    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string>/usr/local/bin:/usr/bin:/bin:/Users/rhammock/scripts/bin</string>
      <key>PHONE</key>
      <string>1234567890</string>
    </dict>
    <key>WorkingDirectory</key>
    <string>/Users/rhammock/scripts/schedule_sms</string>
    <key>WatchPaths</key>
    <array>
      <string>/Users/rhammock/scripts/schedule_sms/messages</string>
    </array>
    <key>StandardOutPath</key>
    <string>scheduler.log</string>
    <key>StandardErrorPath</key>
    <string>error.log</string>
    <key>LimitLoadToSessionType</key>
    <string>Aqua</string>
  </dict>
</plist>
